@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #e6e6e6;
    --foreground: #ffffff;
    --text: #1a1a1a;
    --text-foreground: #333333;
    --primary: #333333;
    --primary-foreground: #cccccc;
    --primary-active: #000000;
    --primary-foreground-active: #ffffff;
    --muted: #666666;
    --muted-foreground: #999999;
    --border: #cccccc;

    --popover: #ffffff;
    --popover-foreground: #33333380;
  }
  .dark {
    --background: #1a1a1a;
    --foreground: #333333;
    --text: #e6e6e6;
    --text-foreground: #cccccc;
    --primary: #cccccc;
    --primary-foreground: #333333;
    --primary-active: #ffffff;
    --primary-foreground-active: #000000;
    --muted: #999999;
    --muted-foreground: #666666;
    --border: #4d4d4d;

    --popover: #333333;
    --popover-foreground: #cccccc80;
  }
}

@layer base {
  * {
    @apply border-border;
    scrollbar-color: var(--primary) var(--foreground);
    scrollbar-width: thin;
  }
  body {
    @apply bg-background text-text;
  }
}
